.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #1a2238;
    box-sizing: border-box;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #b5afaf;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    background: #91deb6;
    padding: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.inputGroup {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.input:focus{
    background-color: #e4edd2;
    border-color: #007BFF;
    outline: none;
}

.loginButton {
    width: 100%;
    padding: 8px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.loginButton:hover {
    background-color: #276b9f;
}

.linkGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 100px;
}

.linkButton {
    flex: 1;
    padding: 10px;
    font-size: 1.2rem;
    background: none;
    border: none;
    background-color: #428013;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.button:hover {
    background-color: #a1aa59;
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loadingContainer p {
    margin-top: 15px;
    font-size: 18px;
    color: #555;
}