.header {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 15px 18px;
    background: linear-gradient(90deg, #45d640, #078721);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.languageSelector {
    margin-right: 20px;
}

.languageSelector select {
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    color: #333;
    cursor: pointer;
}

.languageSelector select:focus {
    outline: none;
    border: 1px solid #6200ea;
}

.menu {
    list-style: none; /* 기본 목록 스타일 제거 */
    display: flex; /* 가로로 나열 */
    gap: 25px; /* 항목 사이 간격 */
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
}
  
.menu li {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menuLink:hover {
  color: #8dd5bc;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #fff;
  margin: 4px 0;
  transition: transform 0.3s ease;
}
  
.menuLink {
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 24px;
    transition: color 0.3s, transform 0.3s;
}

@media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      padding: 10px;
    }
    .hamburger {
        display: block;
      }
    
      .nav {
        flex-direction: column;
        align-items: flex-start;
        display: none;
      }
    
      .nav.open {
        display: flex;
      }
    
      .menu {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }
    
      .menu li {
        margin: 10px 0;
      }
    
      .languageSelector {
        margin-bottom: 10px; /* 모바일 메뉴에서 아래쪽 여백 */
      }
}