.body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapmain {
    flex: 1;
    overflow-y: auto;
    background-color: #f9f9f9;
}

.header{
    flex: 0 0 auto;
}

.footer {
    flex: 0 0 auto;
}